<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
	<select id="login"  resultType="Buser" parameterType="Buser">
		select * from busertable where bemail =  #{bemail} and bpwd = #{bpwd} and islock = 0
	</select>
	<insert id="register" parameterType="Buser">
		insert into busertable (id, bemail, bpwd) values (null, #{bemail}, #{bpwd})
	</insert>
	<update id="update" parameterType="Buser">
		update busertable set bpwd = #{bpwd} where id = #{id}
	</update>
</mapper>