<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.dao.AdminDao对应Dao接口 -->
<mapper namespace="com.dao.AdminDao">
	<!-- 查询用户信息 -->
	<select id="login"  resultType="Auser" parameterType="Auser">
		select * from ausertable where aname=#{aname} AND  apwd=#{apwd}
	</select>
</mapper>